
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAllocationLabel" translate="myplanningApp.allocation.home.createOrEditLabel">Create or edit a Allocation</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="allocation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="myplanningApp.allocation.startDate" for="field_startDate">StartDate</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="allocation.startDate" is-open="datePickerForStartDate.status.opened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="myplanningApp.allocation.endDate" for="field_endDate">EndDate</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="allocation.endDate" is-open="datePickerForEndDate.status.opened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.endDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.endDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="myplanningApp.allocation.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="allocation.status" id="field_status" required>
                <option value="UNCONFIRMED" translate="myplanningApp.AllocationStatus.UNCONFIRMED">UNCONFIRMED</option>
                <option value="CONFIRMED" translate="myplanningApp.AllocationStatus.CONFIRMED">CONFIRMED</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="myplanningApp.allocation.person" for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="allocation.person" ng-options="person as (person.firstName + ' ' + person.lastName) for person in persons | orderBy:['lastName','firstName'] track by person.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="myplanningApp.allocation.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="allocation.company" ng-options="company as company.name for company in companys | orderBy:'name' track by company.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
